@import './base.css';

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    padding: 7rem 0 0 10rem;
  }

  h1 {
    font-size: xxx-large;
  }

  p {
    font-size: large;
  }
}
