@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
@import './base.css';

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    padding: 7rem 0 0 10rem;
  }
}

@media (min-width: 1921px) {
  #app {
    transform: scale(1.5);
    transform-origin: top left;
  }
}